/* STILMALL */

#container {
    display: grid;
    height: 100vh;
    grid-template-rows: 17% 6% 60% 17%;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'mn mn mn mn'
    'ft ft ft ft';
    margin: auto;
    padding:2px;
    gap: 2px;
    background-color: black;

}

header {
    grid-area: hd;
    background-color: beige;
}

nav {
    grid-area: nv;
    background-color: antiquewhite;
    display: flex;
    gap: 18%;
}

footer {
    grid-area: ft;
    background-color: antiquewhite;
}

main {
    grid-area: mn;
    background-color: antiquewhite;
}

#cardWrapper{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    margin: auto;
    justify-content: center;
}

section {
    border: 2px solid grey;
    width: 150px;
    height: 225px;
    border-radius: 10px;
    
}

#s1 {
    background-image: url(../misc/filmcover1.jpg);
    background-size: cover;
}

#s2 {
    background-image: url(../misc/filmomslag3.jpg);
    background-size: cover;
}

#s3 {
    background-image: url(../misc/filmvover4.jpg);
    background-size: cover;
}

#s4 {
    background-image: url(../misc/filmcover5.jpg);
    background-size: cover;
}

#s5 {
    background-image: url(../misc/bok1.jpg);
    background-size: cover;
}

#s6 {
    background-image: url(../misc/bookcover2.jpg);
    background-size: cover;
}

#hamburger {
    /*border: 1px solid #000;*/
    height: 2rem;
    width: 2rem;
}

#hamburger div {
    border: 1px solid #000;
    margin: 0.4rem;
}
