/* STILMALL */

#container 


header {
    background-color: beige;
}


#cardwrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: auto;
    justify-content: center;
}

section {
    border: 2px solid grey;
    width: 150px;
    height: 225px;
}

#s1 {
    background-image: url(../Slutprojekt/filmcover1.jpg);
}
